<!DOCTYPE html>

<html lang="fr">
  <head>
    <!-- Basic Page Needs ========================================= -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tardigrade Security Challenge</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="intechinfo.fr">

    <!-- Bootstrap -->
    {% load static %}
    <link rel="stylesheet" type="text/css"  href="{% static 'subscribe/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'subscribe/fonts/font-awesome/css/font-awesome.css' %}">

    <!-- Slider
    ================================================== -->
    <link href="{% static 'subscribe/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'subscribe/css/owl.theme.css' %}" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static 'subscribe/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'subscribe/css/responsive.css' %}">

    <script type="text/javascript" src="{% static 'subscribe/js/modernizr.custom.js' %}"></script>
  </head>


  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "lobby.views.home" %}">Tardigrade Security Challenge</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "lobby.views.home" %}" class="page-scroll">Accueil</a></li>
            <li><a href="{% url "challenges.views.home" %}" class="page-scroll">Challenges</a></li>
            <li><a href="{% url "subscribe.views.form" %}" class="page-scroll">Inscription</a></li>
            <li>
                <a class="btn btn-lg" data-toggle="modal" data-target="#myModal">Connexion</a>

                    <!-- Modal -->
                    <div class="modal fade" id="myModal" role="dialog">
                        <div class="modal-dialog">
                          <!-- Modal content-->
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal">&times;</button>
                              <h4 class="modal-title"><b>Qui êtes vous ?</b></h4>
                            </div>
                            <div class="modal-body">
                                <p></p>
                                <form class="form-horizontal" method="POST">
                                <fieldset>
                                <!-- Text input-->
                                <div class="form-group">
                                  <label class="col-md-3 control-label" for="name"></label>  
                                  <div class="col-md-6">
                                  <input id="name" name="username" type="text" placeholder="Identité" class="form-control input-md" required="">
                                    
                                  </div>
                                </div>

                                <!-- Password input-->
                                <div class="form-group">
                                  <label class="col-md-3 control-label" for="password"></label>
                                  <div class="col-md-6">
                                    <input id="password" name="password" type="password" placeholder="Mot de passe" class="form-control input-md" required="">
                                    
                                  </div>
                                </div>

                                <!-- Button -->
                                <div class="form-group">
                                  <label class="col-md-4 control-label" for="login"></label>
                                  <div class="col-lg-3 col-md-3">
                                    <button id="login" name="login" class="btn btn-success btn-lg">Se connecter</button>
                                  </div>
                                </div>
                                </fieldset>
                                </form>               
                            </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                            </div>
                          </div>
                        </div>
                      </div>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Clients Section
    ==========================================-->
    <div id="tf-clients" class="text-center">
        <div class="overlay">
            <div class="container">
                <div id="clients" class="owl-carousel owl-theme">
                    <div class="item">
                        <br></br><br></br>
                    </div>
                    <div class="item">
                        <br></br><br></br>
                    </div>
                    <div class="item">
                        <br></br><br></br>
                    </div>
                    <div class="item">
                        <br></br><br></br>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Contact Section
    ==========================================-->
    <div class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2>Formulaire <strong>d'inscription</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <medium><em>Inscription gratuite qui vous donne accès à de nombreux challenges de sécurité.</em></medium>            
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                    <div class="form-group">
                                    <label for="exampleInputEmail1">Adresse Mail</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="client@webmail.fr">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputFirstname">Prénom</label>
                                    <input type="password" class="form-control" id="exampleInputFirstname" placeholder="Prénom">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label for="exampleInputLastname">Nom</label>
                                    <input type="password" class="form-control" id="exampleInputLasname" placeholder="Nom">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword">Mot de passe</label>
                                    <input type="password" class="form-control" id="exampleInputPassword">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputPassword2">Confirmation du mot de passe</label>
                                    <input type="password" class="form-control" id="exampleInputPassword2">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                               <div class="form-group">
                                <label for="exampleInputDescription">Description (Optionnel)</label>
                                <textarea class="form-control" rows="3" placeholder="Organisation, Job, Passion..."></textarea>
                                </div>
                            </div>
                        </div>
                    
                        <div class="row">
                            <br>
                            <div class="col-lg-6"></div>
                            <div class="col-md-2">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <button type="submit" class="btn tf-btn btn-default">Soumettre </button>
                                </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>
<br><br><br><br><br>
    <!-- Testimonials Section
    ==========================================-->
    <div id="tf-testimonials" class="text-center">
        <div class="overlay">
            <div class="container">
                <div class="section-title center">
                    <h2><strong>Le livre d'or </strong>de nos clients</h2>
                    <div class="line">
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div id="testimonial" class="owl-carousel owl-theme">
                            <div class="item">
                                <h5>Ce site est très bien fait avec des challenges très divers et fun.</h5>
                                <p><strong>Julien Cartier</strong>, Etudiant</p>
                            </div>

                            <div class="item">
                                <h5>Challenges très intéressant et divers.</h5>
                                <p><strong>Simon Hallay</strong>, Etudiant</p>
                            </div>

                            <div class="item">
                                <h5>Site super instructif, j'ai appris beaucoup de choses sur la sécurité informatique</h5>
                                <p><strong>Rami Morri</strong>, Développeur</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2015. Designed by <a href="http://intechinfo.fr">Alababa</a> and Coded by <a href="http://intechinfo.fr">TSC Team</a></p>
            </div>
            <!--<div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>-->
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'subscribe/js/jquery.1.11.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static 'subscribe/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'subscribe/js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'subscribe/js/jquery.isotope.js' %}"></script>

    <script src="{% static 'subscribe/js/owl.carousel.js' %}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{% static 'subscribe/js/main.js' %}"></script>

  </body>
</html>