<!DOCTYPE html>

<html lang="fr">
  <head>
    <!-- Basic Page Needs ========================================= -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tardigrade Security Challenge</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="intechinfo.fr">

    <!-- Bootstrap -->
    {% load static %}
    <link rel="stylesheet" type="text/css"  href="{% static 'profil/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profil/fonts/font-awesome/css/font-awesome.css' %}">

    <!-- Slider
    ================================================== -->
    <link href="{% static 'profil/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'profil/css/owl.theme.css' %}" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static 'profil/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'profil/css/responsive.css' %}">

    <script type="text/javascript" src="{% static 'profil/js/modernizr.custom.js' %}"></script>
  </head>


  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "lobby.views.home" %}">Tardigrade Security Challenge</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "lobby.views.home" %}" class="page-scroll">Accueil</a></li>
            <li><a href="{% url "challenges.views.home" %}" class="page-scroll">Challenges</a></li>
            <li><a href="{% url "profil.views.myprofil" %}" class="page-scroll">Profil</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="tf-contact" class="text-center">
        <div class="container">
            <div class="section-title center">
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="space"></div>
            <div class="row">
            <!-- About Us Page
            ==========================================-->
            <div id="tf-about">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <img src="{% static 'profil/img/avatar/00.png' %}" class="img-responsive">
                        </div>
                        <div class="col-md-7">
                            <div class="about-text">
                                <div class="section-title">
                                    {% block title_pseudo %}<h2>Informations sur <strong>Maxime</strong></h2>{% endblock %}
                                    <hr>
                                    <div class="clearfix"></div>
                                </div>
                                {% block date_registration %}<medium><em>Inscrit le 10/12/2015</em></medium>{% endblock %}
                                {% block description %}<p class="intro">Responsable communication de tsc, développeur.</p>{% endblock %}
                                <ul class="about-list">
                                    <li align="left">
                                        <span class="fa fa-dot-circle-o"></span>
                                        <strong>Pseudo</strong> - {% block pseudo %}<em>MAx La MenAcE</em>{% endblock %}
                                    </li>
                                </ul>
                                <ul class="about-list">
                                    <li align="left">
                                        <span class="fa fa-dot-circle-o"></span>
                                        <strong>Nom</strong> - {% block nom %}<em>Lauret</em>{% endblock %}
                                    </li>
                                </ul>
                                <ul class="about-list">
                                    <li align="left">
                                        <span class="fa fa-dot-circle-o"></span>
                                        <strong>Prénom</strong> - {% block prenom %}<em>Maxime</em>{% endblock %}
                                    </li>
                                </ul>
                                <ul class="about-list">
                                    <li align="left">
                                        <span class="fa fa-dot-circle-o"></span>
                                        <strong>Adresse Email</strong> - {% block email %}<em><i>non affiché</i></em>{% endblock %}
                                    </li>
                                </ul>
                                <ul class="about-list">
                                    <li align="left">
                                        <span class="fa fa-dot-circle-o"></span>
                                        <strong>Nombre d'épreuves validé</strong> - {% block valide_epreuve %}<em>4</em>{% endblock %}
                                    </li>
                                </ul>
                                <ul class="about-list">
                                    <li align="left">
                                        <span class="fa fa-dot-circle-o"></span>
                                        <strong>Score</strong> - {% block classement %}<em>8/238</em>{% endblock %}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                
                <br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>


    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2015. Designed by <a href="http://intechinfo.fr">Alababa</a> and Coded by <a href="http://intechinfo.fr">TSC Team</a></p>
            </div>
            <!--<div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>   
            </div>-->
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'profil/js/jquery.1.11.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static 'profil/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'profil/js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'profil/js/jquery.isotope.js' %}"></script>

    <script src="{% static 'profil/js/owl.carousel.js' %}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{% static 'profil/js/main.js' %}"></script>
    <script>
        $( "#exampleInputType" ).change(function() {
          var input = $("#exampleInputType").val();
          switch(input){
            case "url":
                $("#default").hide();
                $("#link").html("<input type='text' class='form-control' name='url'>");
            break;
            case "text":
                $("#default").hide();
                $("#link").html("<textarea class='form-control' rows='3' name='inputext'></textarea>");
            break;
            case "zip":
                $("#default").hide();
                $("#link").html("<input type='file' name='zip'>");
            break;
            case "tar":
                $("#default").hide();
                $("#link").html("<input type='file' name='tar'>");
            break;
          } 
        });
    </script>

  </body>
</html>