{% extends "profil/base.html" %}


{% block title_pseudo %}<h2>Mon<strong> Profil</strong></h2>{% endblock %}

{% block date_registration %}<medium><em>Inscrit le {{ date }}</em></medium>{% endblock %}

{% block description %}<p class="intro">{{ description }}</p>{% endblock %}

{% block pseudo %}<em>{{ username }}</em>{% endblock %}
{% block nom %}<em>{{ lastname }}</em>{% endblock %}
{% block prenom %}<em>{{ firstname }}</em>{% endblock %}
{% block email %}<em><i>{{ email }}</i></em>{% endblock %}
{% block valide_epreuve %}<em>5</em>{% endblock %}
{% block classement %}<em>4/239</em>{% endblock %}