{% extends "profil/base.html" %}

{% block title_pseudo %}<h2>Informations sur <strong>???</strong></h2>{% endblock %}

{% block date_registration %}<medium><em>Inscrit le ???</em></medium>{% endblock %}

{% block pseudo %}<em>???</em>{% endblock %}
{% block nom %}<em>???</em>{% endblock %}
{% block prenom %}<em>???</em>{% endblock %}
{% block email %}<em><i>???</i></em>{% endblock %}
{% block valide_epreuve %}<em>???</em>{% endblock %}
{% block classement %}<em>???</em>{% endblock %}