{% extends "challenges/base.html" %}

{% block title %}<h2>Application<strong> Challenges</strong></h2>{% endblock %}

{% block description %}
	<medium><em>Les identifiants de connexion sont fournis pour les différents challenges, le but du jeu est d’obtenir des droits supplémentaires en exploitant des faiblesses de l’environnement (permissions incorrectes sur les fichiers, protection par chiffrement faible, etc) et des erreurs développement pour obtenir un mot de passe permettant de valider chaque épreuve sur le portail.</em></medium>
{% endblock %}