<!DOCTYPE html>

<html lang="fr">
  <head>
    <!-- Basic Page Needs ========================================= -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tardigrade Security Challenge</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="intechinfo.fr">

    <!-- Bootstrap -->
    {% load static %}
    <link rel="stylesheet" type="text/css"  href="{% static 'challenges/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'challenges/fonts/font-awesome/css/font-awesome.css' %}">

    <!-- Slider
    ================================================== -->
    <link href="{% static 'challenges/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'challenges/css/owl.theme.css' %}" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static 'challenges/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'challenges/css/responsive.css' %}">

    <script type="text/javascript" src="{% static 'challenges/js/modernizr.custom.js' %}"></script>
  </head>


  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "lobby.views.home" %}">Tardigrade Security Challenge</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "lobby.views.home" %}" class="page-scroll">Accueil</a></li>
            <li><a href="{% url "challenges.views.home" %}" class="page-scroll">Challenges</a></li>
            <li><a href="{% url "profil.views.myprofil" %}" class="page-scroll">Profil</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="tf-contact" class="text-center">
        <div class="container">
            <div class="section-title center">
                {% block title %}<h2>Tous les<strong> Challenges</strong></h2>{% endblock %}
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                {% block description %}<medium><em>Ces épreuves vous permettront de vous améliorer.</em></medium>{% endblock %}
            </div>
            <div class="space"></div>
            <div class="row" align="left">
                {% block tableau %}
                <div class="container" align="left">        
                  <table class="table table-striped">
                    <thead>
                      <tr>
                        <td><strong>Résultat</strong></td>
                        <td><strong>Nom de l'épreuve</strong></td>
                        <td><strong>Nombre de points</strong></td>
                        <td><strong>Difficulté</strong></td>
                        <td><strong>Auteur</strong> </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><img src="{% static 'challenges/img/check.png' %}" alt="check" height="15" width="15"></td>
                        <td>SQL Injection</td>
                        <td>10</td>
                        <td>1/5</td>
                        <td><a href="{% url "profil.views.profil" %}">Alababa</a></td>
                      </tr>
                      <tr>
                        <td><img src="{% static 'challenges/img/error.png' %}" alt="error" height="15" width="15"></td>
                        <td>Javascript - Authentification</td>
                        <td>15</td>
                        <td>2/5</td>
                        <td><a href="#">Pierrick</a></td>
                      </tr>
                      <tr>
                        <td><img src="{% static 'challenges/img/error.png' %}" alt="error" height="15" width="15"></td>
                        <td>SQL Injection</td>
                        <td>10</td>
                        <td>1/5</td>
                        <td><a href="#">Alababa</a></td>
                      </tr>
                      <tr>
                        <td><img src="{% static 'challenges/img/error.png' %}" alt="error" height="15" width="15"></td>
                        <td>Javascript - Authentification</td>
                        <td>15</td>
                        <td>2/5</td>
                        <td><a href="#">Pierrick</a></td>
                      </tr>
                      <tr>
                        <td><img src="{% static 'challenges/img/error.png' %}" alt="error" height="15" width="15"></td>
                        <td>SQL Injection</td>
                        <td>10</td>
                        <td>1/5</td>
                        <td><a href="#">Alababa</a></td>
                      </tr>
                      <tr>
                        <td><img src="{% static 'challenges/img/error.png' %}" alt="error" height="15" width="15"></td>
                        <td>Javascript - Authentification</td>
                        <td>15</td>
                        <td>2/5</td>
                        <td><a href="#">Pierrick</a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                {% endblock %}
                <br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br>
                <br><br><br><br><br><br><br><br>
        </div>
    </div>
</div>


    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2015. Designed by <a href="http://intechinfo.fr">Alababa</a> and Coded by <a href="http://intechinfo.fr">TSC Team</a></p>
            </div>
            <!--<div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>-->
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'challenges/js/jquery.1.11.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static 'challenges/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'challenges/js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'challenges/js/jquery.isotope.js' %}"></script>

    <script src="{% static 'challenges/js/owl.carousel.js' %}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{% static 'challenges/js/main.js' %}"></script>
    <script>
        $( "#exampleInputType" ).change(function() {
          var input = $("#exampleInputType").val();
          switch(input){
            case "url":
                $("#default").hide();
                $("#link").html("<input type='text' class='form-control' name='url'>");
            break;
            case "text":
                $("#default").hide();
                $("#link").html("<textarea class='form-control' rows='3' name='inputext'></textarea>");
            break;
            case "zip":
                $("#default").hide();
                $("#link").html("<input type='file' name='zip'>");
            break;
            case "tar":
                $("#default").hide();
                $("#link").html("<input type='file' name='tar'>");
            break;
          } 
        });
    </script>

  </body>
</html>