{% extends "challenges/base_ep.html" %}

{% block title %}<h2>{{ epreuve.name }}</strong></h2>{% endblock %}

{% block points %}<h2> Points : {{ epreuve.points }} </h2>{% endblock %}
{% block difficulté %}<h2> Difficulté : {{ epreuve.level }}</h2>{% endblock %}

{% block ep_description %}                
    <h2>Description</h2><br><br>
{{ epreuve.description }}
{% endblock %}


{% block ep_indice %}       
<h2>Indice</h2>
<h3> {{ epreuve.clue }} </h3>
{% endblock %}

<br><br><br>

{% block ep_button %}
<div class="col-md-12">      

<button class="btn btn-success" onclick="dlredirect()">Accéder à l'épreuve</button>

<script type="text/javascript">
function dlredirect(){

    var category = "{{ epreuve.category }}";
    var name = "{{ epreuve.name }}";
    name = name.replace(/\s+/g, '_');

    window.location = "http://{{ epreuve.url }}";
};
</script>

</div>
{% endblock %}