{% extends "challenges/base_ep.html" %}

{% block title %}<h2>SQL<strong> Injection</strong></h2>{% endblock %}

{% block points %}<h2> Points : 10 </h2>{% endblock %}
{% block difficulté %}<h2> Difficulté : 1/5</h2>{% endblock %}

{% block description %}
	<medium><em>Une injection SQL est un type d'exploitation d'une faille de sécurité d'une application interagissant avec une base de données, en injectant une requête SQL non prévue par le système et pouvant compromettre sa sécurité.</em></medium>
{% endblock %}

{% block ep_description %}                
    <h2>Description</h2>
{% endblock %}


{% block ep_indice %}
<div class="container">        
<h2>Indice (Optionnel)</h2>
<h3> Aucun pour cet épreuve </h3>
</div>
{% endblock %}

<br><br><br>

{% block ep_button %}
<div class="container">        
<button type="button" class="btn btn-success">Accéder à l'épreuve</button>
</div>
{% endblock %}