{% extends "challenges/base_ep.html" %}

{% block title %}<h2>SQL<strong> Injection</strong></h2>{% endblock %}

{% block points %}<h2> Points : 10 </h2>{% endblock %}
{% block difficulté %}<h2> Difficulté : 1/5</h2>{% endblock %}

{% block description %}
	<medium><em>Une injection SQL est un type d'exploitation d'une faille de sécurité d'une application interagissant avec une base de données, en injectant une requête SQL non prévue par le système et pouvant compromettre sa sécurité.</em></medium>
{% endblock %}

{% block ep_description %}                
    <h2>Description</h2><br><br>
De nombreux développeurs web ne sont pas conscients des possibilités de manipulation des requêtes SQL, et supposent que les requêtes SQL sont des commandes sûres. Cela signifie qu'une requête SQL est capable de contourner les contrôles et vérifications, comme les identifications, et parfois, les requêtes SQL ont accès aux commandes d'administration.<br><br>
L'injection SQL directe est une technique où un pirate modifie une requête SQL existante pour afficher des données cachées, ou pour écraser des valeurs importantes, ou encore exécuter des commandes dangereuses pour la base. Cela se fait lorsque l'application prend les données envoyées par l'internaute, et l'utilise directement pour construire une requête SQL.
{% endblock %}


{% block ep_indice %}       
<h2>Indice</h2>
<h3> Aucun pour cet épreuve </h3>
{% endblock %}

<br><br><br>

{% block ep_button %}
<div class="container">        
<button type="button" class="btn btn-success">Accéder à l'épreuve</button>
</div>
{% endblock %}