{% extends "challenges/base.html" %}

{% block title %}<h2>Realist<strong> Challenges</strong></h2>{% endblock %}

{% block description %}
	<medium><em>Les challenges réalistes sont des systèmes complets comportant plusieurs failles de sécurité, avec un contenu totalement fictif. Vous y jouez le rôle d’un hacker contacté par des organisations ou des particuliers dans but de rendre justice à travers un hack. Une fois vos objectifs reçus, c’est à vous de parcourir le site en essayant de découvrir et d’exploiter ses vulnérabilités. Cette série de challenges peut s’appliquer directement au monde réel.</em></medium>
{% endblock %}