<!DOCTYPE html>

<html lang="fr">
  <head>
    <!-- Basic Page Needs ========================================= -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tardigrade Security Challenge</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="intechinfo.fr">

    <!-- Bootstrap -->
    {% load static %}
    <link rel="stylesheet" type="text/css"  href="{% static 'post_challenge/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'post_challenge/fonts/font-awesome/css/font-awesome.css' %}">

    <!-- Slider
    ================================================== -->
    <link href="{% static 'post_challenge/css/owl.carousel.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'post_challenge/css/owl.theme.css' %}" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="{% static 'post_challenge/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'post_challenge/css/responsive.css' %}">

    <script type="text/javascript" src="{% static 'post_challenge/js/modernizr.custom.js' %}"></script>
  </head>


  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url "lobby.views.home" %}">Tardigrade Security Challenge</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url "lobby.views.home" %}" class="page-scroll">Accueil</a></li>
            <li><a href="#tf-works" class="page-scroll">Challenges</a></li>
            <li><a href="#tf-profil" class="page-scroll">Profil</a>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <!-- Contact Section
    ==========================================-->
    <div id="tf-contact" class="text-center">
        <div class="container">

            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title center">
                        <h2>Formulaire de <strong>création d'un challenge</strong></h2>
                        <div class="line">
                            <hr>
                        </div>
                        <div class="clearfix"></div>
                        <medium><em>L'équipe Tardigrade Security Challenge validera votre challenge dans les 48h.</em></medium>            
                    </div>
                    <form>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                    <div class="form-group">
                                    <label for="exampleInputEmail1">Adresse Mail</label>
                                    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="client@webmail.fr">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputFirstname">Prénom</label>
                                    <input type="password" class="form-control" id="exampleInputFirstname" placeholder="Prénom">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputLastname">Nom</label>
                                    <input type="password" class="form-control" id="exampleInputLasname" placeholder="Nom">
                                </div>
                            </div>
                        </div>
                        <br><br>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputCategory">Catégorie du challenge</label>
                                    <select name="category" class="form-control" form="exampleInputCategory">
                                        <option value="crackme">CrackMe</option>
                                        <option value="script">Scripting</option>
                                        <option value="reverse">Reverse</option>
                                        <option value="web">Web</option>
                                        <option value="hacking">Hacking</option>
                                        <option value="audi">Autres</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputName">Nom du challenge</label>
                                    <input type="text" class="form-control" id="exampleInputName" placeholder="SQL injection">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputLevel">Difficulté du challenge (/5)</label>
                                    <select name="category" class="form-control" form="exampleInputLevel">
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label for="exampleInputFile">Type de challenge</label>
                                    <select name="category" class="form-control" form="exampleInputLevel">
                                        <option value="url">URL</option>
                                        <option value="text">Texte</option>
                                        <option value="zip">Fichier Zip</option>
                                        <option value="tar.gz">Fichier Tar.gz</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                               <div class="form-group">
                                <label for="exampleInputDescription">Description de l'épreuve</label>
                                <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                               <div class="form-group">
                                <label for="exampleInputIndice">Indice (Optionnel)</label>
                                <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                               <div class="form-group">
                                <label for="exampleInputAnswer">Solution du challenge</label>
                                <textarea class="form-control" rows="3"></textarea>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <br>
                            <div class="col-lg-6"></div>
                            <div class="col-md-2">
                                <div class="col-md-2"></div>
                                <div class="col-md-10">
                                    <button type="submit" class="btn tf-btn btn-default">Soumettre </button>
                                </div>
                        </div>
                    </form>

                </div>
            </div>

        </div>
    </div>
</div>

    <!-- Portfolio Section
    ==========================================-->
    <div id="tf-works">
        <div class="container"> <!-- Container -->
            <div class="section-title text-center center">
                <h2>Jetez un oeil à <strong>nos catégories de challenges</strong></h2>
                <div class="line">
                    <hr>
                </div>
                <div class="clearfix"></div>
                <medium><em>Tardigrade Security Challenge propose des catégories de challenges</em></medium>
            </div>
            <div class="space"></div>

            <div class="categories">
                
                <ul class="cat">
                    <li class="pull-left"><h4>Filtré par Type:</h4></li>
                    <li class="pull-right">
                        <ol class="type">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li><a href="#" data-filter=".photography">Alphabétique</a></li>
                            <li><a href="#" data-filter=".web">Popularité</a></li>
                        </ol>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div id="lightbox" class="row">

                <div class="col-sm-6 col-md-3 col-lg-3 branding">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Système</h4>
                                    <!--<small>Branding</small>-->
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'post_challenge/img/portfolio/01.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Script</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'post_challenge/img/portfolio/02.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Cracking</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'post_challenge/img/portfolio/03.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Programmation</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'post_challenge/img/portfolio/04.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Réseau</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'post_challenge/img/portfolio/05.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Reverse</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'post_challenge/img/portfolio/06.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 photography web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Hacking</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'post_challenge/img/portfolio/07.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 web">
                    <div class="portfolio-item">
                        <div class="hover-bg">
                            <a href="#">
                                <div class="hover-text">
                                    <h4>Javascript</h4>
                                    <div class="clearfix"></div>
                                    <i class="fa fa-plus"></i>
                                </div>
                                <img src="{% static 'post_challenge/img/portfolio/08.jpg' %}" class="img-responsive" alt="...">
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    

    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2015. Designed by <a href="http://intechinfo.fr">Alababa</a> and Coded by <a href="http://intechinfo.fr">TSC Team</a></p>
            </div>
            <!--<div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>-->
        </div>
    </nav>


    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'post_challenge/js/jquery.1.11.1.js' %}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="{% static 'post_challenge/js/bootstrap.js' %}"></script>
    <script type="text/javascript" src="{% static 'post_challenge/js/SmoothScroll.js' %}"></script>
    <script type="text/javascript" src="{% static 'post_challenge/js/jquery.isotope.js' %}"></script>

    <script src="{% static 'post_challenge/js/owl.carousel.js' %}"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="{% static 'post_challenge/js/main.js' %}"></script>

  </body>
</html>